body {
	background: #ffeaa7;
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
}

h1 {
	margin-top: 15px;
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	color: #e17055;
	cursor: pointer;
}

div {
	text-align: center;
}

#explaination {
	color: #e17055;
	width: 65%;
	margin: 0 auto;
}

#choices {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.choice {
	width: 90%;
	color: #ffeaa7;
	background: #cee9fd;
	border-radius: 25px;
	margin: 0 auto;
	height: 500px;
	padding: 20px;
}

h2 {
	padding-top: 0;
	margin-top: 0;
}

p {
	padding-bottom: 35px;
}

.selected {
	border: 12px solid #b2bec3;
}

#soAuch {
	padding-top: 0;
	margin-top: 0;
}
#soLaeufts {
	margin-bottom: 0;
	padding-bottom: 0;
}

#myProgress {
  width: 100%;
  background-color: #e17055;
  position: absolute;
  bottom: 10px;
  left: 0;
}

#myBar {
  height: 30px;
  background-color: #0984e3;
}

.bar {
	color: #ffeaa7;
}

.choiceImg {
	display: inline-block;
	height: auto;
	vertical-align: middle;
}


table {
	width: 100%;
}
tr {
	width: 50%;
}
th {
	width: 50%;
	padding: 30px;
}





/*Code from W3.CSS (https://www.w3schools.com/w3css/default.asp)*/
.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.w3-container,.w3-panel{padding:0.01em 16px}